[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
wxpython = "*"
browsermob-proxy = "*"
pycurl = "*"
certifi = "*"
psutil = "*"

[requires]
python_version = "3.7"
